*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	background: #8080802e;
	min-height: 100vh
	

}


.main{
	margin: 0 auto 0 auto;
	border: none;
	text-align: left;
	width: 400px;
	background-color: #fff;
	box-shadow: 0 0 100px -50px;
	height: 100vh;
	border-radius: 5px;
	background-color:;

}
.head{
	text-align: center;
	border:1px solid;
	height: 9.5vh;
	background: #03a9f4;
	color: #fff

}
.head > p{
	line-height: 50px

}
.head > span{
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
}

#bus1{
	border-bottom: 1px solid #03a9f4;
	height: 20vh;
	padding: 0.5em;
	border-radius: 1em;
	width: 95%;
	margin: 0 auto 0.5vh auto
}

#bus1 > span{
	font-weight: bold;
	font-size: 25px;
	text-transform: capitalize;
}
.buses > div{
	border:none;
	height: 20vh;
	padding: 0.5em;
	border-radius: 1em;
	width: 95%;
	margin: 0 auto 0.5vh auto;
	box-shadow: 0px 1px 2.5px 0.25px #b1b1b1 ;
	background: #f6f6f7
}

.buses > div > span{
	font-weight: bold;
	font-size: 25px;
	text-transform: capitalize;
}
h2{
	float: right;
}

p{
	font-size: small;
}


.buses > div > i{
	color: gold
}

.nav-bar{
	border:none;
	height: 62px;
	border-radius: 0 0 5px 5px;
	display: flex;
	text-align: center;
	background: #dce9ef;
	box-shadow: 0 100px 200px ;
	-webkit-justify-content: space-evenly
}

.nav-bar > div{
	margin: auto 0 auto 0 ;
	width: 100px;
	height: 60px;
	border-radius: 0 0 5px 5px;
	border: none
}
.nav-bar > div > a{
	position: relative;
	top: 20%;
	text-decoration: none;
	color: black
}
.nav-bar > div > a:hover{
	transition: 0.2s;
	color: #fff
}
.nav-bar > div:hover{
	transition: 0.2s;
	background: #03a9f4b5
}
.nav-bar > div > a > p{
	font-size: 10px;
	font-weight: bold;
}
.active {
	background: #03a9f4b5;
	color: #fff
}
button{
	width: 70px;
	padding: 3px;
	font-size: 15px;
	cursor: pointer;
	background: #03a9f4;
	color:#fff;
	border:none;
	border-radius: 5px

}